body {
    display: flex;
    background-color: azure;
    flex-direction: column;
}

div.heading, div.game_board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.heading {
    font-size: 80px;
    font-weight: bolder;
    font-family: "Comic Sans MS";
}

div.chat {
    margin-top: 20px;
    width: 1000px;
    align-self: center;
    height: 100px;
    overflow-y: scroll;
}

input.chat-input {
    margin-top: 20px;
    width: 1000px;
    align-self: center;
    font-size: 30px;
}